<header id="header">
    <div class="top-header ui-border-b">
        <div class="qinzibashi_search">
            <i class="qinzibashi_icon_search" style="left:3%"></i>
            <input style="left:2%" type="text" autocomplete="off" name="keyWord" id="SearchWords" placeholder="请输入搜索内容" value="" class="text_info">
            <input type="hidden" name="sid" value="360">
        </div><a class="user-icon" href="javascript:void(0)" onclick="searchKeyWords()" style="color:#fff">搜索</a>
    </div>

</header>

