<header class="ui-header ui-header-positive ui-border-b">
    <i class="ui-icon-return" onclick="history.back()"></i>
    <h1>@ViewBag.Title</h1>
    <a class="go-home" href="/"><i class="ui-icon-home"></i></a>
</header>
