<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav" style="width: auto; margin: 0px;float: right;">
        <li class="">
            <a data-trigger="confirm" title="" href="javascript:void(0)" target="_self" onclick="logout(this);">
                <i class="icon icon-share-alt"></i><span class="text">注销</span>
            </a>
        </li>
    </ul>
</div>

