<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>亲子巴士后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/matrix-login.css" />
    <link href="/css/tipTip.css" rel="stylesheet" type="text/css" />
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/img/logo.ico" rel="shortcut icon" type="image/x-icon">
</head>
<body>
    @RenderBody()
    <script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>  
    <script src="/js/jquery.tipTip.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/matrix.login.js" type="text/javascript" charset="utf-8"></script> 
</body>
</html>
