.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

html, body {
  height: 100%; }

body {
  background: #f8f8f8;
  color: #333; }

img {
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

.isno {
  display: none; }

#header {
  margin-bottom: 10px;
  background: #f8f8f8;
  position: relative; }
  #header .user-icon {
    position: absolute;
    top: 0;
    right: 10px; }
    #header .user-icon i {
      color: #e60000; }

.top-header {
  width: 100%;
  height: 45px;
  line-height: 45px; }
  .top-header h2 {
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    font-family: "Microsoft YaHei"; }
    .top-header h2 a {
      color: #333; }
  .top-header .sunflower {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-top: -7px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
    background-image: url("../img/icon/iconfont-augichuahou.svg"); }

.nav-icon-bg {
  width: 43px;
  height: 43px;
  display: inline-block;
  background: #e60000;
  border-radius: 100%;
  color: #fff;
  position: relative; }

.nav-text {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #333; }

.main-nav {
  margin: 10px auto;
  padding: 15px 0;
  background: #FFF; }
  .main-nav .ui-icon {
    color: #fff; }

.nav-icon {
  display: inline-block;
  height: 26px;
  width: 26px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -13px;
  margin-top: -13px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain; }

.huodong-icon {
  background-image: url("../img/iconfont-huodong.svg"); }

.tuandui-icon {
  background-image: url("../img/icon/iconfont-tuandui.svg"); }

.ketang-icon {
  background-image: url("../img/icon/iconfont-weiketang.svg"); }

.anli-icon {
  background-image: url("../img/icon/iconfont-yuanjiaojuxing6kaobei.svg");
  -webkit-background-size: 90% auto;
  background-size: 90% auto; }

.shopping-icon {
  background-image: url("../img/icon/iconfont-shangcheng.svg"); }

.jobs-icon {
  background-image: url("../img/icon/iconfont-zhaopin.svg"); }

.weibo-icon {
  background-image: url("../img/icon/iconfont-weibo.svg"); }

.about-icon {
  background-image: url("../img/icon/iconfont-guanyuwomen.svg"); }

.ui-wrap {
  padding-bottom: 70px; }

.grid-nav-1 {
  margin-bottom: 15px; }
  .grid-nav-1 li:nth-child(2) .nav-icon-bg {
    background: #84D702; }
  .grid-nav-1 li:nth-child(3) .nav-icon-bg {
    background: #FF7C02; }
  .grid-nav-1 li:nth-child(4) .nav-icon-bg {
    background: #5297DF; }

.grid-nav-2 li:nth-child(1) .nav-icon-bg {
  background: #8B49FF; }

.grid-nav-2 li:nth-child(2) .nav-icon-bg {
  background: #00D69A; }

.grid-nav-2 li:nth-child(3) .nav-icon-bg {
  background: #FFB224; }

.grid-nav-2 li:nth-child(4) .nav-icon-bg {
  background: #15A7FF; }

.img-nav {
  background: #FFF;
  margin-bottom: 10px;
  padding: 10px 10px 10px 15px; }
  .img-nav ul {
    overflow: hidden; }
  .img-nav li {
    width: 50%;
    float: left; }
    .img-nav li a {
      color: #FFF; }

.img-nav-item {
  background: #FFF; }
  .img-nav-item li {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 5px; }
    .img-nav-item li a {
      display: block;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-position: center;
      padding-top: 75.85%; }

.img-nav-2 .img-nav-item li a {
  padding-top: 41.38%; }

.mod-box {
  background: #FFF;
  margin-bottom: 10px; }

.mod-hd {
  position: relative;
  padding: 10px 0;
  line-height: 25px; }
  .mod-hd h3 {
    display: inline-block;
    font-size: 16px;
    padding-left: 25px; }
    .mod-hd h3:before {
      content: " ";
      position: absolute;
      width: 5px;
      height: 25px;
      background: #e60000;
      left: 10px;
      top: 10px;
      display: inline-block; }
  .mod-hd a {
    width: 100%;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 10px;
    display: block;
    text-align: right; }
    .mod-hd a span {
      display: inline-block;
      margin-right: 10px; }

.mod-bd {
  padding: 0; }

.ui-one {
  padding: 10px 15px 0; }
  .ui-one li {
    padding-bottom: 10px; }
  .ui-one .ui-placehold-img {
    padding-top: 18.75%; }

.ui-four {
  padding: 10px 10px 10px 15px; }
  .ui-four > li {
    padding-right: 5px; }
    .ui-four > li:nth-child(1) span {
      background-color: #9342F3; }
    .ui-four > li:nth-child(2) span {
      background-color: #FFB217; }
    .ui-four > li:nth-child(3) span {
      background-color: #089792; }
    .ui-four > li:nth-child(4) span {
      background-color: #D64A81; }
  .ui-four .ui-placehold-img {
    padding-top: 100%; }
    .ui-four .ui-placehold-img span {
      color: #FFF;
      text-align: center;
      font-size: 14px;
      line-height: 500%; }

.ui-img {
  padding-bottom: 10px; }
  .ui-img .ui-placehold-img {
    padding-top: 68.97%; }
  .ui-img .ui-col:nth-child(1) {
    padding-right: 10px; }
  .ui-img .ui-img-infor {
    font-size: 14px;
    padding-right: 20px; }

.index-footer {
  height: auto; }

.footer-nav {
  padding: 0 0 5px;
  font-size: 12px; }

@media (max-width: 320px) {
  .ui-four, .img-nav {
    padding: 10px 5px 10px 10px; }
  .ui-one {
    padding: 10px 10px 0; } }

.user-main {
  padding-top: 45px; }

.uc-item .ui-list {
  margin-bottom: 10px; }
  .uc-item .ui-list li a {
    color: #666; }
  .uc-item .ui-list li span {
    display: inline-block;
    line-height: 44px;
    font-size: 14px;
    margin-left: 6px; }
  .uc-item .ui-list li i {
    font-size: 26px; }

.login-box {
  padding: 75px 0 0; }
  .login-box .login-form {
    border-radius: 4px;
    margin: 0 10px; }
  .login-box .reset-pwd {
    text-align: right;
    padding: 15px 20px 0;
    font-size: 14px;
    position: relative; }
  .login-box .remember-user {
    padding: 15px 20px 0;
    font-size: 14px; }
  .login-box .ui-icon-close {
    display: none; }
  .login-box .ui-item-mb10 {
    margin-bottom: 10px; }

.uc-edit {
  padding-top: 10px; }
  .uc-edit .ui-form {
    margin: 0 10px;
    border-radius: 4px; }
  .uc-edit .ui-icon-close {
    display: none; }

.ui-form-item-file {
  margin: 0 10px; }

.bef-file {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-pack: center;
  font-size: 16px; }
  .bef-file .ui-icon-add {
    color: #FFF; }
  .bef-file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    z-index: 999; }

.avatar-upload {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background: #e5e5e5;
  color: #666;
  text-align: center;
  margin: 0 auto 20px;
  position: relative;
  overflow: hidden;
  font-size: 12px; }
  .avatar-upload div {
    margin-top: -5px; }
  .avatar-upload .ui-icon-add-people {
    display: inline-block;
    margin-top: 10px; }
  .avatar-upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    z-index: 999; }

.user-comment-item {
  margin: 0 10px;
  padding: 10px 0; }
  .user-comment-item .label {
    display: block;
    color: #666;
    padding: 10px 0; }
  .user-comment-item .textarea {
    height: 150px;
    font-size: 14px;
    width: 100%;
    resize: none;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    background: #FFF;
    padding: 15px 10px;
    color: #333;
    border-radius: 4px; }

.list-box {
  padding-top: 55px;
  background: #FFF; }

.list-hd {
  position: relative;
  padding: 10px 10px 0;
  line-height: 22px; }
  .list-hd h3 {
    display: inline-block;
    font-size: 14px; }
  .list-hd a {
    width: 100%;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 10px;
    display: block;
    text-align: right; }
    .list-hd a span {
      display: inline-block;
      margin-right: 10px; }

.list-bd {
  padding: 10px 0 0; }

.case-list > li a {
  display: block; }

.case-list .topic-img {
  margin-bottom: 10px; }

.list-nav {
  background: #FFF;
  margin: 10px 0;
  padding: 20px 0; }
  .list-nav .list-nav-box1 {
    margin-bottom: 20px; }
    .list-nav .list-nav-box1 li a {
      display: block;
      background: #44A3FF;
      color: #FFF;
      padding: 7px 14px; }
    .list-nav .list-nav-box1 li:nth-child(2) a {
      background: #FF0C4D; }
    .list-nav .list-nav-box1 li:nth-child(3) a {
      background: #00D69A; }
  .list-nav .list-nav-box2 li a {
    display: block;
    background: #8B49FF;
    color: #FFF;
    padding: 7px 14px; }
  .list-nav .list-nav-box2 li:nth-child(2) a {
    background: #FFB224; }
  .list-nav .list-nav-box2 li:nth-child(3) a {
    background: #397bcc; }

.clearPT {
  padding-top: 0; }

.jobs-detail {
  padding: 20px 20px 30px;
  font-size: 14px; }
  .jobs-detail h4 {
    font-size: 16px;
    margin-bottom: 10px; }
  .jobs-detail p {
    margin-bottom: 10px; }

#footer {
  background: #FFF;
  padding: 15px 0 20px;
  text-align: center;
  font-size: 12px;
  color: #777;
  margin: 10px auto 0; }

.list-jobs .ui-list-img {
  width: 110px;
  height: 100px; }

.list-jobs .ui-btn {
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  margin-top: 3px; }

.uc-about {
  margin-top: 10px;
  background: #FFF;
  padding: 10px;
  font-size: 14px;
  color: #666; }
  .uc-about p {
    text-indent: 24px;
    margin-bottom: 10px; }

.main-sub-nav {
  padding-top: 55px; }

.search-bar {
  padding-top: 45px; }

.go-home {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 0; }

.list-conts li:after {
  display: none; }

.list-conts .ui-label-list {
  margin: 0; }

.list-conts .list-other {
  position: relative;
  line-height: 27px; }

.list-conts .ui-price {
  position: absolute;
  right: 0;
  top: 0; }
  .list-conts .ui-price em {
    display: inline-block;
    font-size: 18px;
    margin-right: 5px; }

.list-conts .topic-icon {
  position: absolute;
  top: 0;
  left: -5px;
  font-size: 12px;
  padding: 0 10px 0 15px;
  color: #fff;
  background: rgba(239, 75, 57, 0.9);
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  border-radius: 0 0 5px 0; }
  .list-conts .topic-icon.cu-bg {
    background: rgba(158, 217, 105, 0.9); }
  .list-conts .topic-icon.zs-bg {
    background: rgba(139, 73, 255, 0.9); }
  .list-conts .topic-icon.ls-bg {
    background: rgba(0, 214, 154, 0.9); }
  .list-conts .topic-icon.hs-bg {
    background: rgba(255, 178, 36, 0.9); }

.ui-time {
  color: #999; }

.ui-btn-row {
  padding: 6px 10px; }

.search-box {
  padding-top: 45px; }

.hove-time {
  overflow: hidden;
  zoom: 1;
  line-height: 25px;
  padding: 10px 0 10px 20px; }
  .hove-time strong {
    color: #999; }

.more-bar {
  text-align: center;
  font-size: 16px; }
  .more-bar a {
    color: #666; }
  .more-bar .ui-icon-more {
    display: inline-block;
    font-size: 22px; }

.detail-top {
  background: #FFF;
  padding: 10px 0;
  text-align: center; }
  .detail-top h2 {
    padding: 10px; }

.detail-content {
  background: #FFF;
  padding: 0 10px 30px; }
  .detail-content p {
    margin-bottom: 15px; }

.detail-content-star {
  padding: 30px; }
  .detail-content-star p {
    margin-bottom: 10px; }
    .detail-content-star p.user-intro {
      padding-top: 20px; }

.detail-rec .ui-list-img {
  width: 136px;
  height: 136px; }

.user-topic {
  background: #FFF;
  padding: 10px 10px 30px;
  font-size: 14px; }

.topic-item {
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .topic-item ul {
    overflow: hidden;
    padding: 10px 0; }
    .topic-item ul li {
      float: left;
      width: 50%; }

.popup-box .ui-icon-close {
  display: none; }

.popup-box .ui-form {
  background: none; }

/*# sourceMappingURL=../maps/custom/sunflower.css.map */